body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    width: 100%;
}

.content {
    flex: 3;
    padding: 20px;
    overflow-y: scroll;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    box-sizing: border-box;
}

.sidebar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px;
}

.sidebar h2 {
    text-align: center;
    margin: 0 0 20px;
}

.github-stats {
    margin-bottom: 20px;
}

.github-stats h3 {
    margin: 0 0 10px;
}

.github-stats p {
    margin: 5px 0;
}

.article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.article:hover {
    background-color: rgba(102, 204, 255, 0.3); /* 设置悬浮时的浅蓝色背景和透明度 */
}

.article h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.article p {
    margin: 0;
    color: #39c5bb;
}
